.input {
  box-sizing: border-box;
  width: 5%;
  color: #d7d9d7;
  padding: 5px;
  background-color: #3d2b3d;
  border: 1px solid #3d2b3d;
  border-radius: 3px;
}

.absolute {
  position: absolute;
  content: '';
}

.to-top-left {
  top: -35px;
  left: -35px;
}

.to-top-right {
  top: -35px;
  right: -35px;
}

.to-bottom-left {
  bottom: -35px;
  left: -35px;
}

.to-bottom-right {
  bottom: -35px;
  right: -35px;
}
