.rectangle {
  position: relative;
  width: 35%;
  height: 35%;
  margin: 0 auto;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
  background-color: #79bac1;
  box-shadow: 0 0.5rem 1rem rgba(213, 213, 213, 0.5);
}

@media (max-width: 1440px) {
  .rectangle {
    width: 70%;
    height: 40%;
  }
}
