.clipboard {
  padding: 20px;
  background-color: #c9c5cb;
}

// TODO: move to button component
.button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
}
